@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  text-align:center;
  height: 100vh;
  background-color: #ff00ff;
  background-image: linear-gradient(45deg, #ff00ff, #00ffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px #000;
}

img {
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;
  margin-top: 50px;
  max-width: 168px;
}

h1 {
  font-size: 80px;
  color: #f0e68c;
  margin-bottom: 0;
}
nav {
  font-size: 25px;
  color: #ff69b4;
}
.container {
  background: rgba(230, 230, 250, 0.6);
  padding: 5px 30px;
  border-radius: 15px;
  transition: 0.3s;
}
.container:hover {
 background-color: Gainsboro;
  color: black;
}
.hui {
  align-items: center;
 display:flex;
 flex-direction: column;
 gap: 36px;
}
